Repository FuckDoctors/notes: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-md, yarn format, yarn lint-css, yarn eslint

chore: 升级依赖yarn upgrade --latest
  package.json
  yarn.lock
Due: yarn format

style: 升级依赖后,prettier的格式化好像变了
  .babelrc.js
  .commitlintrc.js
  .eslintrc.js
  .prettierrc.js
  .stylelintrc.js
  .textlintrc.js
  docs/.vuepress/components/AntD.vue
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/CodeDemo.vue
  docs/.vuepress/components/code-box/highlight.js
  docs/.vuepress/components/demo/Demo.vue
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/.vuepress/public/zhaobc.site/script.js
  docs/.vuepress/sidebar/sideBarUtil.js
  docs/.vuepress/sidebar/sidebarMap.js
  docs/.vuepress/sidebar/walk.js
  docs/.vuepress/theme/components/BlogFooter.vue
  docs/.vuepress/theme/components/BlogTag.vue
  docs/.vuepress/theme/components/BlogTags.vue
  docs/.vuepress/theme/components/Breadcrumb.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/layouts/BlogTagLayout.vue
  docs/.vuepress/theme/layouts/BlogTagsLayout.vue
  docs/.vuepress/theme/layouts/NoteLayout.vue
  docs/.vuepress/theme/layouts/PostLayout.vue
  docs/.vuepress/theme/styles/antd.hack.js
  docs/notes/fe/js/bosn/chapter02.md
  docs/notes/fe/js/bosn/chapter03.md
  docs/notes/fe/js/bosn/chapter04.md
  postcss.config.js
Due: yarn lint-md, yarn format, yarn eslint

docs: 再次合并dev分支,新加docker命令笔记
  .eslintrc.js
  docs/notes/README.md
  docs/notes/other/README.md
  docs/notes/other/docker/README.md
  docs/notes/other/docker/command.md
Due: yarn lint-md, yarn format, yarn eslint

refactor: 官方Layout.vue的solt写法已修改,所以自己修改的Layout.vue去掉,改成推荐的写法
  docs/.vuepress/theme/layouts/Layout.vue.fixed
  docs/.vuepress/theme/layouts/NoteLayout.vue
  docs/notes/README.md
  docs/notes/other/docker/README.md
  docs/notes/other/docker/command.md
Due: yarn lint-md, yarn format, yarn eslint

refactor: 合并dev分支,官方Layout.vue的slot已修改,所以去掉了自己修改的
  docs/.vuepress/theme/layouts/Layout.vue.fixed
  docs/.vuepress/theme/layouts/NoteLayout.vue
Due: yarn format, yarn eslint

chore: 再次升级依赖
  package.json
  yarn.lock
Due: yarn format

feat: 增加e.coding.net
  deploy.sh
Due: none

feat: 暂存N久前的变更，貌似是增加博客右侧个人信息
  docs/.vuepress/components/blog/account.vue
  docs/.vuepress/config.js
  docs/.vuepress/public/account/avatar/avatar2.jpg
  docs/.vuepress/public/account/icons.svg
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/views/ZhaobcAccount.vue
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
Due: yarn lint-md, yarn format, yarn eslint

fix: 更改no-zoom策略，添加prettier-ingore否则格式化后会错误
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/config.js
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
Due: yarn lint-md, yarn format, yarn eslint

feat: 微调博客个人信息布局
  docs/.vuepress/components/blog/account.vue
  docs/.vuepress/config.js
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
Due: yarn lint-md, yarn format, yarn eslint

feat: 加入看板娘
  .eslintignore
  .prettierignore
  .stylelintignore
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/load-live2d.js
  docs/.vuepress/loadjs.js
  docs/.vuepress/public/live2d/assets/autoload.js
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.eot
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.svg
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.ttf
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.woff
  docs/.vuepress/public/live2d/assets/jquery-ui.min.js
  docs/.vuepress/public/live2d/assets/jquery.min.js
  docs/.vuepress/public/live2d/assets/live2d.js
  docs/.vuepress/public/live2d/assets/live2d.min.js
  docs/.vuepress/public/live2d/assets/waifu-tips.js
  docs/.vuepress/public/live2d/assets/waifu-tips.json
  docs/.vuepress/public/live2d/assets/waifu-tips.min.js
  docs/.vuepress/public/live2d/assets/waifu.css
  docs/.vuepress/public/live2d/assets/waifu.min.css
  docs/.vuepress/theme/index.js
  yarn.lock
Due: yarn format, yarn lint-css, yarn eslint

chore: 合并master分支
  deploy.sh
  package.json
  yarn.lock
Due: yarn format

feat: 合并dev分支内容
  .eslintignore
  .prettierignore
  .stylelintignore
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/blog/account.vue
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/load-live2d.js
  docs/.vuepress/loadjs.js
  docs/.vuepress/public/account/avatar/avatar2.jpg
  docs/.vuepress/public/account/icons.svg
  docs/.vuepress/public/live2d/assets/autoload.js
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.eot
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.svg
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.ttf
  docs/.vuepress/public/live2d/assets/flat-ui-icons-regular.woff
  docs/.vuepress/public/live2d/assets/jquery-ui.min.js
  docs/.vuepress/public/live2d/assets/jquery.min.js
  docs/.vuepress/public/live2d/assets/live2d.js
  docs/.vuepress/public/live2d/assets/live2d.min.js
  docs/.vuepress/public/live2d/assets/waifu-tips.js
  docs/.vuepress/public/live2d/assets/waifu-tips.json
  docs/.vuepress/public/live2d/assets/waifu-tips.min.js
  docs/.vuepress/public/live2d/assets/waifu.css
  docs/.vuepress/public/live2d/assets/waifu.min.css
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/views/ZhaobcAccount.vue
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  package.json
  yarn.lock
Due: yarn lint-md, yarn format, yarn lint-css, yarn eslint

ci: 去掉coding.me部署
  deploy.sh
Due: none

feat: 增加TextToPacticles组件，展示文本转粒子特效
  deploy.sh
  docs/.vuepress/components/TextToParticles.vue
  docs/README.md
  docs/en/README.md
Due: yarn lint-md, yarn format, yarn eslint

Path conditions:
  yarn lint-md: any of: *.md
  yarn format: any of: *.{js,ts,json,css,vue,md}
  yarn lint-css: any of: *.{css,scss,styl}
  yarn eslint: any of: *.{js,jsx,ts,vue}
