Repository FuckDoctors/notes: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-md, yarn format, yarn lint-css

引入postcss
  .lintstagedrc
  .vscode/settings.json
  docs/.vuepress/config.js
  package.json
  postcss.config.js
  yarn.lock
Due: yarn format

提交husky和lint-staged自动执行format变更的文件
  .prettierignore
  .textlint.terms.json
  docs/.vuepress/theme/components/Breadcrumb.vue
  docs/.vuepress/theme/layouts/NoteLayout.vue
  docs/README.md
  tests/sidebarUtilTest.js
Due: yarn lint-md, yarn format

加入eslint
  .eslintignore
  .eslintrc.js
  .npmrc
  .prettierignore
  .vscode/settings.json
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/.vuepress/sidebar/sideBarUtil.js
  docs/.vuepress/sidebar/sidebarMap.js
  docs/.vuepress/sidebar/walk.js
  docs/.vuepress/theme/util/index.js
  package.json
  tests/ts/hello.ts
  tsconfig.json
  yarn.lock
Due: yarn format

执行yarn format格式化md文件
  .lintstagedrc
  .stylelintrc.js
  .textlintrc.js
  README.md
  docs/.vuepress/theme/components/readme.md
  docs/.vuepress/theme/layouts/readme.md
  docs/en/README.md
  docs/notes/README.md
  docs/notes/fe/js/README.md
  docs/notes/fe/js/bosn/README.md
  docs/notes/fe/js/bosn/chapter01.md
  docs/notes/fe/js/bosn/chapter02.md
  docs/notes/fe/ts/README.md
Due: yarn lint-md, yarn format

使用postcss-import后，代码高亮无效，因为@import出了问题。
  .lintstagedrc
  .prettierignore
  .stylelintignore
  docs/.vuepress/styles/index.styl
  package.json
  postcss.config.js
  yarn.lock
Due: yarn format

加入cssnano
  package.json
  postcss.config.js
Due: yarn format

升级vuepress
  docs/.vuepress/config.js
  package.json
  yarn.lock
Due: yarn format

Layout.vue中再次引入代码高亮样式
  docs/.vuepress/styles/index.styl
  docs/.vuepress/theme/layouts/Layout.vue
Due: yarn format

circleci增加check人物
  .circleci/config.yml
Due: none

增加dev分支check
  .circleci/config.yml
Due: none

修改拼写
  docs/notes/README.md
Due: yarn lint-md

补充 project 说明
  README.md
Due: none

JavaScript深入浅出第2章完结
  docs/notes/fe/js/bosn/README.md
  docs/notes/fe/js/bosn/chapter01.md
  docs/notes/fe/js/bosn/chapter02.md
  docs/notes/fe/js/bosn/chapter03.md
  docs/notes/fe/js/bosn/images/2-2.figure01.png
  package.json
Due: yarn lint-md, yarn format

chore(package.json): 规范git commit
  .commitlintrc.js
  README.md
  package.json
  yarn.lock
Due: yarn format

chore(package.json): glob quotes
  .vscode/settings.json
  README.md
  docs/notes/fe/js/bosn/chapter02.md
  package.json
Due: yarn lint-md, yarn format

build(textlint): 修复textlint错误,并修改部分规则
  .textlintrc.js
  .vscode/launch.json
  docs/en/notes/fe/README.md
  docs/notes/be/README.md
  docs/notes/fe/README.md
  docs/notes/fe/js/README.md
  docs/notes/fe/js/bosn/chapter01.md
  docs/notes/fe/ts/README.md
  package.json
  yarn.lock
Due: yarn lint-md, yarn format

chore(LICENSE): 添加license
  LICENSE
Due: none

chore(merge): Merging from dev
  .circleci/config.yml
  .commitlintrc.js
  .textlintrc.js
  .vscode/launch.json
  .vscode/settings.json
  LICENSE
  README.md
  docs/en/notes/fe/README.md
  docs/notes/README.md
  docs/notes/be/README.md
  docs/notes/fe/README.md
  docs/notes/fe/js/README.md
  docs/notes/fe/js/bosn/README.md
  docs/notes/fe/js/bosn/chapter01.md
  docs/notes/fe/js/bosn/chapter02.md
  docs/notes/fe/js/bosn/chapter03.md
  docs/notes/fe/js/bosn/images/2-2.figure01.png
  docs/notes/fe/ts/README.md
  package.json
  yarn.lock
Due: yarn lint-md, yarn format

build(eslint): 修改eslint
  .eslintignore
  .eslintrc.js
  docs/.vuepress/config.js
  docs/.vuepress/config.site.js
  docs/.vuepress/theme/index.js
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  docs/posts/readme.txt
  package.json
  yarn.lock
Due: yarn lint-md, yarn format

feat(blog): 增加blog功能(WIP)
  docs/.vuepress/config.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/.vuepress/theme/components/BlogFooter.vue
  docs/.vuepress/theme/components/BlogTag.vue
  docs/.vuepress/theme/components/BlogTags.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/layouts/BlogTagLayout.vue
  docs/.vuepress/theme/layouts/BlogTagsLayout.vue
  docs/.vuepress/theme/layouts/PostLayout.vue
  docs/about/README.md
  docs/en/about/README.md
  package.json
  yarn.lock
Due: yarn lint-md, yarn format

feat(blog): 整合blog功能，功能验证OK
  .vscode/launch.json
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/.vuepress/theme/components/BlogTags.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogTagLayout.vue
  docs/.vuepress/theme/layouts/BlogTagsLayout.vue
  docs/.vuepress/theme/layouts/PostLayout.vue
  package.json
Due: yarn format

feat(blog): 验证blog多语言特性
  docs/.vuepress/nav/en.js
  docs/.vuepress/theme/index.js
  docs/en/posts/2019-12-3-vuepress-blog-hello-world.md
Due: yarn lint-md, yarn format

feat(blog): blog的菜单适配移动端。
  .stylelintignore
  .stylelintrc.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/layouts/BlogTagsLayout.vue
  docs/.vuepress/theme/styles/config.pcss
  docs/en/posts/2019-12-3-vuepress-blog-hello-world.md
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  package.json
  postcss.config.js
  yarn.lock
Due: yarn lint-md, yarn format

feat(blog): 显示文章列表
  docs/.vuepress/theme/layouts/BlogLayout.vue
Due: yarn format

fix(tag): tag还是区分一下语言吧，tag内容是一样的。
  docs/.vuepress/nav/en.js
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
Due: yarn format

feat(blog): 验证性增加blog功能(WIP)。
  .eslintignore
  .eslintrc.js
  .stylelintignore
  .stylelintrc.js
  .vscode/launch.json
  docs/.vuepress/config.js
  docs/.vuepress/config.site.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/.vuepress/theme/components/BlogFooter.vue
  docs/.vuepress/theme/components/BlogTag.vue
  docs/.vuepress/theme/components/BlogTags.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/layouts/BlogTagLayout.vue
  docs/.vuepress/theme/layouts/BlogTagsLayout.vue
  docs/.vuepress/theme/layouts/PostLayout.vue
  docs/.vuepress/theme/styles/config.pcss
  docs/about/README.md
  docs/en/about/README.md
  docs/en/posts/2019-12-3-vuepress-blog-hello-world.md
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  docs/posts/readme.txt
  package.json
  postcss.config.js
  yarn.lock
Due: yarn lint-md, yarn format

build(sitemap): win7正常，circleci build失败
  .circleci/config.yml
  .vscode/preview.yml
  docs/.vuepress/config.js
  docs/.vuepress/public/manifest.json
Due: yarn format

ci: 修改时间格式
  .circleci/config.yml
Due: none

ci: LC_TIME不起作用，使用LC_ALL试试
  .circleci/config.yml
Due: none

ci: fix typo
  .circleci/config.yml
  deploy.sh
Due: none

ci: 取消TZ设置，在deploy.sh中单独设置TZ
  .circleci/config.yml
  deploy.sh
Due: none

ci: 调试
  .circleci/config.yml
  docs/.vuepress/config.js
Due: yarn format

ci: 配置了LANG后貌似可以了
  .circleci/config.yml
  docs/.vuepress/config.js
Due: yarn format

ci: deploy限定master
  .circleci/config.yml
Due: none

ci: 设LANG貌似也不行，恢复回带log的那版
  .circleci/config.yml
  docs/.vuepress/config.js
Due: yarn format

ci: 兼容sitemap，lastUpdated固定格式
  .circleci/config.yml
  docs/.vuepress/config.js
  package.json
  yarn.lock
Due: yarn format

fix: sitemap跟last-updated的时间格式不匹配
  .circleci/config.yml
  .vscode/preview.yml
  deploy.sh
  docs/.vuepress/config.js
  docs/.vuepress/public/manifest.json
  package.json
  yarn.lock
Due: yarn format

fix: 修复上次merge错误
  .circleci/config.yml
  docs/.vuepress/config.js
Due: yarn format

chore: 增加PostCSS Language Support插件
  README.md
Due: none

feat: 尝试引入ant-design-vue
  .babelignore
  .babelrc.js
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/components/code-box/theme.pcss
  docs/about/README.md
  package.json
  yarn.lock
Due: yarn lint-md, yarn format

Path conditions:
  yarn lint-md: any of: docs/**/*.md
  yarn format: any of: *.{js,ts,json,css,vue}
  yarn lint-css: any of: *.{css,scss}
