Repository FuckDoctors/notes: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-md, yarn format, yarn lint-css

feat: 暂存iview的CodeDemo，未调试
  docs/.vuepress/components/CodeDemo.vue
  docs/.vuepress/components/demo/Demo.vue
  docs/.vuepress/components/demo/demo.pcss
Due: yarn format

feat: 按需加载ant-design-vue
  .babelrc.js
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/theme/index.js
Due: yarn format

feat: 暂存一般，调试codebox
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  package.json
  yarn.lock
Due: yarn format

fix: 内容为空时，clipboard不执行success
  docs/.vuepress/components/CodeBox.vue
Due: yarn format

feat: 升级plugin-blog，暂存code-box
  docs/.vuepress/components/CodeBox.vue
  docs/about/README.md
  yarn.lock
Due: yarn lint-md, yarn format

feat(code-box): 去掉code的slot，全都用props
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/highlight.js
  docs/about/README.md
Due: yarn lint-md, yarn format

chore: add git-cz for windows
  package.json
Due: yarn format

feat(less): 加入less,引入antd的less类
  docs/.vuepress/theme/index.js
  package.json
  yarn.lock
Due: yarn format

feat: add reading progress
  docs/.vuepress/config.js
  package.json
  yarn.lock
Due: yarn format

fix(postcss-nested): 调整cssnano插件顺序（原来会导致postcss-nested）不起作用
  docs/.vuepress/components/code-box/code-box.pcss
  postcss.config.js
Due: yarn format

docs(git-cz): 添加win下prepare-commit-msg脚本
  .lintstagedrc
  README.md
  exec-git-cz.cmd
  prepare-commit-msg.cmd
  prepare-commit-msg.sh
Due: none

feat: 调整code-box的代码渲染,以及代码复制
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/components/code-box/highlight.js
  docs/about/README.md
Due: yarn lint-md, yarn format

docs(js): 深入浅出 第3章完结
  docs/notes/fe/js/bosn/chapter03.md
  docs/notes/fe/js/bosn/chapter04.md
  docs/notes/fe/js/bosn/images/3-1.use-strict.png
Due: yarn lint-md

feat(dev): merge dev branch
  .babelignore
  .babelrc.js
  .lintstagedrc
  README.md
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/CodeDemo.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/components/code-box/highlight.js
  docs/.vuepress/components/code-box/theme.pcss
  docs/.vuepress/components/demo/Demo.vue
  docs/.vuepress/components/demo/demo.pcss
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/theme/index.js
  docs/notes/fe/js/bosn/chapter03.md
  docs/notes/fe/js/bosn/chapter04.md
  docs/notes/fe/js/bosn/images/3-1.use-strict.png
  exec-git-cz.cmd
  package.json
  postcss.config.js
  prepare-commit-msg.cmd
  prepare-commit-msg.sh
  yarn.lock
Due: yarn lint-md, yarn format

fix(antd): 解决antd全局样式问题
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/styles/antd.hack.js
  docs/.vuepress/theme/styles/antd.hack.less
  docs/about/README.md
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  postcss.config.js
Due: yarn lint-md, yarn format

feat(antd): 增加一个AntD组件，隔离antd组件全局样式
  .babelrc.js
  docs/.vuepress/components/AntD.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/styles/antd.hack.less
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
Due: yarn lint-md, yarn format

feat: 修改code-box的icon动效
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/theme/styles/antd.hack.less
  docs/notes/fe/js/bosn/README.md
Due: yarn lint-md, yarn format

feat: merge dev branch
  .babelrc.js
  docs/.vuepress/components/AntD.vue
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/components/code-box/code-box.pcss
  docs/.vuepress/config.js
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/BlogLayout.vue
  docs/.vuepress/theme/styles/antd.hack.js
  docs/.vuepress/theme/styles/antd.hack.less
  docs/notes/fe/js/bosn/README.md
  docs/posts/2019-12-3-vuepress-blog-hello-world.md
  postcss.config.js
Due: yarn lint-md, yarn format

fix(antd): 修改antd tooltip动效
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/theme/styles/antd.hack.less
Due: yarn format

feat(dev): merge dev branch
  docs/.vuepress/components/CodeBox.vue
  docs/.vuepress/theme/styles/antd.hack.less
Due: yarn format

feat: 增加新域名zhaobc.site动效
  docs/.vuepress/config.js
  docs/.vuepress/public/zhaobc.site/index.html
  docs/.vuepress/public/zhaobc.site/script.js
  docs/.vuepress/public/zhaobc.site/style.css
  docs/README.md
Due: yarn lint-md, yarn format, yarn lint-css

refactor: 修改Base路径,发布多仓库,适配域名
  deploy.sh
  docs/.vuepress/config.site.js
  docs/.vuepress/public/manifest.json
  docs/.vuepress/public/zhaobc.site/index.html
  docs/README.md
  docs/en/README.md
Due: yarn lint-md, yarn format

feat: merge dev branch
  deploy.sh
  docs/.vuepress/config.js
  docs/.vuepress/config.site.js
  docs/.vuepress/public/manifest.json
  docs/.vuepress/public/zhaobc.site/index.html
  docs/.vuepress/public/zhaobc.site/script.js
  docs/.vuepress/public/zhaobc.site/style.css
  docs/README.md
  docs/en/README.md
Due: yarn lint-md, yarn format, yarn lint-css

fix(deploy): git push时指定推送分支
  deploy.sh
Due: none

fix: merge dev branch
  deploy.sh
Due: none

chore: 修改coding pages发布分支为master
  deploy.sh
Due: none

fix: 修复win10 + chrome79域名动效滚动条
  docs/README.md
  docs/en/README.md
Due: yarn lint-md

feat: 增加个人简介
  docs/README.md
  docs/about/README.md
  docs/en/README.md
  docs/en/about/README.md
Due: yarn lint-md

chore: 忽略prettier对一行md的检查
  docs/about/README.md
Due: yarn lint-md

feat: merge dev branch
  docs/README.md
  docs/about/README.md
  docs/en/README.md
  docs/en/about/README.md
Due: yarn lint-md

chore: 修改网站名
  docs/.vuepress/config.js
Due: yarn format

feat(notes): 增加部分第4章 对象内容
  docs/notes/fe/js/bosn/chapter04.md
  docs/notes/fe/js/bosn/images/4-1.structure.png
  docs/notes/fe/js/bosn/images/4-2.prototype-01.png
  docs/notes/fe/js/bosn/images/4-2.prototype-02.png
  docs/notes/fe/js/bosn/images/4-2.prototype-03.png
  docs/notes/fe/js/bosn/images/4-2.prototype-04.png
Due: yarn lint-md

docs: 增加 4-3 属性操作
  docs/notes/fe/js/bosn/chapter04.md
Due: yarn lint-md

docs: 增加get/set方法
  docs/notes/fe/js/bosn/chapter04.md
  docs/notes/fe/js/bosn/images/4-4-get-set-prototype.png
Due: yarn lint-md

docs: 添加属性标签笔记
  docs/notes/fe/js/bosn/README.md
  docs/notes/fe/js/bosn/chapter04.md
  docs/notes/fe/js/bosn/chapter05.md
  docs/notes/fe/js/bosn/images/4-5-properties.png
  docs/notes/fe/js/bosn/images/4-6-proto.png
Due: yarn lint-md

docs: 增加padavan内网穿透配置备忘录
  docs/notes/README.md
  docs/notes/other/README.md
  docs/notes/other/router/README.md
  docs/notes/other/router/images/http-https-ssh.png
Due: yarn lint-md

docs: 补充IPv6外网访问
  docs/notes/other/router/README.md
  docs/notes/other/router/images/ipv6-settings.png
Due: yarn lint-md

docs: 添加docker常用命令笔记
  docs/notes/README.md
  docs/notes/other/README.md
  docs/notes/other/docker/README.md
  docs/notes/other/docker/command.md
Due: yarn lint-md

Path conditions:
  yarn lint-md: any of: docs/**/*.md
  yarn format: any of: *.{js,ts,json,css,vue}
  yarn lint-css: any of: *.{css,scss}
